body {
    background-color: rgb(41, 41, 41);
    margin: 0 auto;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    width: 80%;
}

.container-cabecalho {
    display: flex;
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a { 
    color: rgb(136, 136, 136);
    font-size: 20px;
    text-decoration: none;
}


.links {
    display: flex;
    gap: 100px;
    margin-left: 20px;
}

.logo {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.logos img{
    width: 55px;
    height: 55px;
}   

.main-container {
    display: flex;
    
    
    flex-direction: column;
}

h1 {
    color:  rgb(136, 136, 136);
    margin-left: 150px;
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 0;
}

.sobre-mim {
    color: rgb(136, 136, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 25px;
}

.sobre-mim p {
    margin-right: auto;
    
}

.sobre-mim img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.botao {
    background-color: #494949;
    color: rgb(5, 4, 4);
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 10%;
    width: 20%;
    border-radius: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.botao:hover {
    background-color: rgb(211, 211, 211);
    color: #000000;
    transition: 0.5s;
}