body {
    background-color: #9bb9a4;
    margin: 0 auto;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    width: 80%;
}

.container-cabecalho {
    display: flex;
    background-color: rgb(22, 48, 25);
    padding: 25px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a { 
    color: #6da87e;
    font-size: 20px;
    text-decoration: none;
}


.links {
    display: flex;
    gap: 70px;
    margin-left: 150px;
}

.logo {
    margin-left: auto;
    display: flex;
    gap: 20px; 
}

.logos img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}   

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:50px;
    
}

h1 {
    color: rgb(22, 48, 25);
    font-size: 50px;
    margin-bottom: -60px;
    margin-left: 15%;
}

.sobre-mim {
    color: rgb(22, 48, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 25px;
    margin-left: 15%;
    align-items: center;
}

.sobre-mim p {
    margin-right: auto;
    
}

.sobre-mim img {
    border-radius: 999px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.botao {
    background-color:rgb(22, 48, 25);
    color: rgb(109, 168, 126);
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin-left: 15%;
    border-color: rgb(22, 48, 25);
    border: 2px solid;
}

.botao:hover {
    background-color: rgb(145, 168, 152);
    color:rgb(22, 48, 25);
    transition: 0.5s;
}

.rodape {
    margin-top: 30px;
    margin-left: 15%;
    gap: 20px;
    font-size: 20px;
    font-weight: 25px;
}

.rodape-logos {
    display: flex;
    gap: 40px;
    margin-left: 30%;
    margin-top: 30px;
}


.rodape img {
    width: 55px;
    height: 55px;
    border: 2px solid rgb(22, 48, 25);
    border-radius: 5px;
}