body {
    background-color: #6da87e;
    margin: 0 auto;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    width: 80%;
}

.container-cabecalho {
    display: flex;
    background-color: rgb(22, 48, 25);
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a { 
    color: #6da87e;
    font-size: 20px;
    text-decoration: none;
}


.links {
    display: flex;
    gap: 100px;
    margin-left: 20px;
}

.logo {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.logos img{
    width: 55px;
    height: 55px;
}   

.main-container {
    display: flex;
    
    
    flex-direction: column;
}

h1 {
    color: rgb(22, 48, 25);
    margin-left: 150px;
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 0;
}

.sobre-mim {
    color: rgb(22, 48, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 25px;
}

.sobre-mim p {
    margin-right: auto;
    
}

.sobre-mim img {
    width: 10rem;
    height: 10rem;
    border-radius: 999px;
    object-fit: contain;
    margin-right: 100px;
}

.botao {
    background-color:rgb(22, 48, 25);
    color: rgb(109, 168, 126);
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 10%;
    width: 20%;
    border-radius: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.botao:hover {
    background-color: rgb(145, 168, 152);
    color:rgb(22, 48, 25);
    transition: 0.5s;
}